@font-face {
  font-family: 'icomoon';
  src:  url('fonts2/icomoon.eot?6w3isx');
  src:  url('fonts2/icomoon.eot?6w3isx#iefix') format('embedded-opentype'),
    url('fonts2/icomoon.woff2?6w3isx') format('woff2'),
    url('fonts2/icomoon.ttf?6w3isx') format('truetype'),
    url('fonts2/icomoon.woff?6w3isx') format('woff'),
    url('fonts2/icomoon.svg?6w3isx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biblioteca:before {
  content: "\e913";
}
.icon-job:before {
  content: "\e914";
}
.icon-templates:before {
  content: "\e915";
}
.icon-organization:before {
  content: "\e90e";
}
.icon-planet-earth:before {
  content: "\e90f";
}
.icon-settings:before {
  content: "\e910";
}
.icon-user-1:before {
  content: "\e911";
}
.icon-users:before {
  content: "\e912";
}
.icon-back:before {
  content: "\e900";
}
.icon-deal:before {
  content: "\e901";
}
.icon-employee:before {
  content: "\e902";
}
.icon-employees:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
  color: #475993;
}
.icon-file-2:before {
  content: "\e905";
}
.icon-human-resources:before {
  content: "\e906";
}
.icon-laptop:before {
  content: "\e907";
}
.icon-light-bulb:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
  color: #0077b7;
}
.icon-next:before {
  content: "\e90a";
}
.icon-padlock:before {
  content: "\e90b";
}
.icon-phone-call:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
  color: #76a9ea;
}
